.main-content-layout {
  display: grid;
  grid-template-columns: 420px 1fr;
  gap: 20px;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 25px;
}

.main-content-layout > .new-posts-container:first-child {
  grid-column: 1;
}

.main-content-layout > .new-posts-container:last-child {
  grid-column: 2;
}
